.title{
    padding-top: 100px;
    padding-bottom: 10px;
    margin: 0;
    padding-left: 300px;
}
.txt-area{
    
    height: 80px;
    width: 550px;
    border: none;
}
.formulario{
    padding-left: 100px;
    
}
form{
    background-color: silver;
    margin-right: 120px;
    padding-right: 150px;
    padding-top: 40px;
    border-radius: 10px;

}
p {
    padding-left: 150px;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 0;
}
input, textarea {
    border-radius: 10px;
    height: 25px;
    font-size: 15px;
    border: none;
    background-color: ghostwhite;
}
btn btn-secondary my-2{
    padding-bottom: 15px;
}
.justy{
    text-align: justify;
}
.botonL{
    border: deeppink;
    background-color: deeppink;
    /* border-color: 1px solid deeppink; */
    padding: 10px 24px;
    padding-bottom: 28px;
    padding-top: 3px;
}
.botonL:hover{
    background-color: rgb(210, 20, 120);
}
.botonR{
    padding: 10px 24px;
    padding-bottom: 26px;
    padding-top: 3px;
}